/* Reset */
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%;
  margin: 0; }

ul {
  list-style-type: none; }
  ul li a {
    text-decoration: none; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial; }

input:focus {
  outline: 0; }

input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

::-webkit-search-decoration {
  display: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

textarea {
  vertical-align: top;
  overflow: auto; }

select[multiple] {
  vertical-align: top; }

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

header {
  width: 100%; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

*,
:after,
:before {
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #2d2d2d !important;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 400 !important; }

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #2d2d2d !important;
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-style: bold !important; }

h1 {
  font-size: 52px;
  line-height: 50px; }

h2 {
  font-size: 40px; }

h5 {
  color: #2d2d2d;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 400 !important;
  font-size: 24px; }

p {
  color: #2d2d2d;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 400 !important; }

strong {
  font-weight: 600 !important;
  color: #2d2d2d; }

.underline {
  text-decoration: underline;
  color: #2d2d2d;
  font-size: 12px; }

p.condicion label {
  font-size: 12px; }

.padding-bottom-20px {
  padding-bottom: 20px; }

.padding-top-container {
  padding-top: 50px; }

.padding-bottom-container {
  padding-bottom: 50px; }

.no-paddings {
  padding-right: 0;
  padding-left: 0; }

.text-content {
  white-space: pre-line;
  padding-top: 20px;
  padding-bottom: 20px; }

.title-cover {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 30px;
  white-space: pre-line; }

.title-image-bg {
  font-size: 52px;
  line-height: 50px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 10px;
  white-space: pre-line; }

.text-image-bg {
  font-size: 20px;
  padding-bottom: 30px;
  white-space: pre-line; }

.subtitle-cover,
.subtitle-content {
  font-family: 'Montserrat', serif !important;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #b09a6a;
  padding-top: 20px; }

.text-montserrat {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.text-white {
  color: #ffffff; }

.text-third {
  color: #cccccc; }

.text-gold {
  color: #b09a6a !important; }

.text-pink {
  color: #aa6489 !important; }

.text-padding-botton {
  padding-bottom: 20px; }

.mail-padding {
  padding-top: 50px; }

.text-phone,
.text-mail {
  font-size: 20px !important; }

.text-phone:hover,
.text-mail:hover {
  color: #b09a6a;
  text-decoration: underline; }

.icon-phone {
  fill: #94d31b; }

.aside-text {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-style: bold !important;
  font-size: 16px;
  line-height: 28px; }

.aside-title {
  font-size: 20px;
  line-height: 26px;
  white-space: pre-line;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #b09a6a !important; }

.aside-text-date {
  font-size: 18px;
  line-height: 30px;
  color: #b09a6a; }

.aside-span-text {
  font-size: 18px;
  line-height: 30px;
  color: #2d2d2d;
  font-style: bold !important; }

.information-text {
  font-weight: 600;
  font-style: bold !important;
  font-size: 14px;
  color: #cccccc !important;
  text-transform: uppercase; }

@media (min-width: 768px) {
  h1 {
    font-size: 90px;
    line-height: 80px; }

  .title-cover {
    padding-top: 10px;
    padding-bottom: 100px; }

  .subtitle-cover {
    font-size: 18px;
    padding-top: 150px; }

  .title-image-bg {
    font-size: 90px;
    line-height: 80px;
    padding-top: 100px;
    padding-bottom: 30px; }

  .text-image-bg {
    padding-bottom: 100px; }

  .padding-top-container {
    padding-top: 100px; }

  .padding-bottom-container {
    padding-bottom: 100px; } }
.background-primary {
  background: #2d2d2d; }

.background-secondary {
  background: #777777; }

.background-third {
  background: #cccccc; }

.background-pink {
  background: #c486a6; }

.background-gold {
  background: #b09a6a; }

.background-blue {
  background: #009fb0; }

.background-silver {
  background: #707473; }

.background-red {
  background: #b5110a; }

.background-brown {
  background: #a06942; }

.btn {
  background-image: none;
  border-color: none;
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 12px;
  text-transform: uppercase;
  padding: 16px 32px; }

.btn-text-overlay,
.btn-text-overlay-gold {
  color: #ffffff; }

.btn-text-overlay-white {
  border-color: #ffffff !important;
  margin-top: 40px; }

.btn-text-overlay-gold {
  color: #ffffff !important;
  border-color: #b09a6a !important; }

.btn-gold {
  color: #ffffff !important;
  border-color: #b09a6a !important;
  background-color: #b09a6a;
  margin-top: 30px; }

.btn-text-overlay:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff; }

.btn-text-overlay-white:hover {
  color: #000000;
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: none;
  border-color: #ffffff; }

.btn-search:focus {
  background-color: #ffffff; }

@media (min-width: 768px) {
  .btn-text-overlay {
    font-size: 9px;
    padding: 8px 16px; } }
@media (min-width: 992px) {
  .btn-text-overlay {
    font-size: 12px;
    padding: 16px 32px; }

  .btn-gold {
    margin-top: 0px; } }
form {
  padding-left: 15px !important;
  padding-right: 15px !important; }

input[type=search] {
  font-size: 16px;
  border-bottom: 0;
  margin: 0;
  height: auto; }

.input-field label {
  color: #2d2d2d;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 400 !important;
  font-size: 16px; }

.datepicker:hover,
.select-wrapper input.select-dropdown:hover,
input[type=text]:hover,
input[type=email]:hover {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 1px 0 0 #eeeeee; }

/* label color */
.input[type=text] {
  color: #2d2d2d; }

/* label color */
.input-field label {
  color: #2d2d2d; }

.input-field label.active {
  color: #cccccc; }

/* label focus color */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
textarea.materialize-textarea {
  color: #2d2d2d; }

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=tel]:focus {
  border-bottom: 1px solid #b09a6a;
  box-shadow: 0 1px 0 0 #b09a6a; }

textarea.materialize-textarea {
  overflow-y: hidden;
  resize: none;
  min-height: 90px; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b09a6a;
  box-shadow: 0 1px 0 0 #b09a6a; }

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=date].valid,
.input-field input[type=datetime].valid,
.input-field input[type=datetime-local].valid,
.input-field input[type=tel].valid,
.input-field input[type=number].valid,
.input-field input[type=search].valid {
  border-color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  box-shadow: 0 1px 0 0 #2d2d2d; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: yellow; }

.picker__input.picker__input--active {
  border-color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  box-shadow: 0 1px 0 0 #2d2d2d; }

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #b09a6a;
  border-bottom: 2px solid #b09a6a; }

[type="checkbox"]:checked + label.filter-option:before {
  border-right: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc; }

[type="checkbox"]:checked + label {
  color: black; }

[type="checkbox"] + label.filter-option {
  font-size: 12px; }

input[type=search]:focus:not([readonly]) {
  border-bottom: 0px solid red;
  box-shadow: 0 0px 0 0 red; }

body {
  background: #ffffff !important; }

header {
  background: #ffffff;
  position: relative;
  z-index: 9; }

.navbar-toggler:not(:disabled):not(.disabled) {
  background: #eeeeee; }

.navbar-toggler:focus {
  background: #d3c7ad !important; }

.bg-light {
  background: #ffffff !important; }

.brand-logo {
  width: 160px; }

.navbar-header {
  float: left;
  width: 100%; }

.navbar-toggler {
  margin-top: 10px;
  float: right; }

.menu-up-mobile {
  text-align: center;
  margin-bottom: 20px; }

.form-inline-mobile {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee; }

.form-control-mobile {
  width: 200px !important;
  background: #eeeeee !important; }

.menu-up {
  display: none; }

.menu-up > ul > li {
  background: #ffffff; }

.form-control {
  padding-right: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #eeeeee !important; }

.form-control:focus {
  background: none !important;
  border: 0; }

.form-inline {
  display: block;
  height: 45px;
  margin-right: 0px; }

.form-control:focus {
  background: none !important; }

.btn-search {
  font-size: 16px;
  color: #cccccc;
  padding-left: 0;
  padding-right: 0;
  border: 0px solid;
  border-radius: 0; }

.btn-search:hover {
  color: gray; }

.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee; }

.nav-item:last-child {
  border-bottom: 4px solid #eeeeee; }

.nav-link {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

.nav-link-primary {
  color: #2d2d2d !important;
  padding-right: 70px; }

.nav-link-primary:hover {
  color: #cccccc !important; }

.nav-link-primary-active {
  color: #cccccc !important; }

.nav-link-secondary:hover {
  color: #b09a6a !important; }

.nav-link-secondary-active {
  color: #b09a6a !important; }

.dropdown-menu {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 12px;
  padding: 0px;
  border-radius: 0px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px 0 rgba(45, 45, 45, 0.15); }

.dropdown-item {
  color: #777777 !important;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 4px solid #ffffff;
  border-bottom: 1px solid #eeeeee;
  transition: 0.1s ease;
  color: #2d2d2d !important;
  font-weight: 600 !important; }
  .dropdown-item:hover {
    background-color: #f6f6f6; }
  .dropdown-item__pink:hover {
    border-top: 4px solid #c486a6;
    color: #2d2d2d !important; }
  .dropdown-item__pink-active {
    border-top: 4px solid #c486a6;
    background: #eeeeee; }
  .dropdown-item__blue:hover {
    border-top: 4px solid #009fb0; }
  .dropdown-item__gold:hover {
    border-top: 4px solid #b09a6a; }
  .dropdown-item__silver:hover {
    border-top: 4px solid #707473; }
  .dropdown-item__red:hover {
    border-top: 4px solid #b5110a; }
  .dropdown-item:focus {
    background-color: #ffffff; }

@media (min-width: 768px) {
  .brand-logo {
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px; } }
@media (min-width: 992px) {
  .menu-up {
    display: block; }

  .menu-up > ul > li {
    background: #ffffff; }

  .menu-up-mobile {
    display: none; }

  .nav-item-menu-up {
    padding-left: 10px; }

  .nav-item {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid #eeeeee; }

  .nav-link,
  .dropdown-item {
    font-size: 9px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-header {
    float: left;
    width: 100%; }

  .menu-container {
    width: 100%; }

  .menu-up {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right !important; }

  .form-inline {
    margin-right: 100px; }

  .menu-down {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right !important; }

  .nav-link-primary {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .nav-link-secondary {
    padding-left: 5px !important;
    padding-right: 5px !important; }

  .nav-link-primary-border {
    border-right: 1px solid #cccccc; }

  .nav-link-secondary-first {
    margin-left: 10px !important; }

  .nav-item:last-child {
    border-bottom: 0px solid #000000; } }
@media (min-width: 992px) {
  .brand-logo {
    width: 300px; }

  .dropdown-menu {
    margin-top: 0px; }

  .dropdown-item {
    display: table-cell;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px; }

  .dropdown:hover > .dropdown-menu {
    display: block; }

  .text-align-right {
    text-align: right !important;
    float: right !important; } }
@media (min-width: 1200px) {
  .brand-logo {
    width: 360px;
    padding-left: 50px; }

  .bg-light {
    height: 170px;
    width: 100%; }

  .nav-link,
  .dropdown-item {
    font-size: 11px;
    padding-top: 15px;
    padding-bottom: 15px; }

  .dropdown-item {
    padding-top: 20px;
    padding-bottom: 20px; }

  .nav-link-primary {
    padding-left: 15px !important;
    padding-right: 25px !important; }

  .nav-link-primary-border {
    border-right: 1px solid #cccccc; }

  .nav-link-secondary {
    padding-left: 10px !important;
    padding-right: 10px !important; }

  .nav-link-secondary:first-child {
    padding-left: 15px !important; } }
@media (min-width: 1500px) {
  .brand-logo {
    width: 450px;
    padding-left: 100px; }

  .nav-link-primary {
    padding-left: 30px !important;
    padding-right: 50px !important; }

  .nav-link-primary-border {
    border-right: 1px solid #cccccc; }

  .nav-link-secondary {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .nav-link-secondary:first-child {
    padding-left: 30px !important; }

  .nav-link-secondary-first {
    margin-left: 20px !important; } }
/* Cover Homer Carousel */
.carousel-control-prev {
  background: linear-gradient(to right, rgba(45, 45, 45, 0.5), transparent); }

.carousel-control-next {
  background: linear-gradient(to left, rgba(45, 45, 45, 0.5), transparent); }

.carousel-indicators li {
  background-color: #cccccc; }

.carousel-indicators .active {
  background-color: #b09a6a; }

.ion-ios-arrow-left,
.ion-ios-arrow-right {
  font-size: 42px;
  margin-top: 0px; }

/* Cover Sections */
.cover-nosotros-image {
  background: url("../img/cover-nosotros.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-contacto-image {
  background: url("../img/cover-contacto.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-distribuidor-image {
  background: url("../img/cover-distribuidor.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-tiendas-image {
  background: url("../img/cover-distribuidor.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-collares-image {
  background: url("../img/cover-tiendas.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

/* Background Image Sections */
.bg-distribuidor-image {
  background: url("../img/bg-distribuidor.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 1500px) {
  .cover {
    position: relative;
    z-index: 1;
    margin-top: -200px; }

  .ion-ios-arrow-left,
  .ion-ios-arrow-right {
    font-size: 52px;
    margin-top: 200px; }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 200px; } }
.product {
  padding-top: 50px;
  background: #ffffff !important; }

.title-product {
  padding-bottom: 20px; }

.h2-margin {
  margin-top: -10px; }

.filter {
  padding-top: 20px; }

.filter > li {
  display: inline; }

.filter > li > a {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 11px;
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 0px; }

.filter > li > a:hover {
  color: #cccccc; }

.filter-aside > li {
  display: block;
  padding-bottom: 12px; }

.filter-aside > li > a {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 12px;
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 0px; }

.filter-aside > li > a:hover {
  color: #cccccc; }

.filter-li {
  padding-top: 5px;
  padding-bottom: 5px; }

.filter-option {
  font-family: 'Montserrat', serif !important;
  font-weight: 400 !important;
  color: #cccccc;
  letter-spacing: 0px; }

.title-filter {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 12px;
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #cccccc; }

.img {
  width: 100%; }

.breadcrumb {
  background-color: #ffffff; }
  .breadcrumb .breadcrumb-item {
    color: #000000;
    font-size: 12px;
    font-weight: bold; }
  .breadcrumb .breadcrumb-title {
    font-family: 'Montserrat', serif !important;
    font-weight: 600 !important;
    font-size: 12px;
    color: #2d2d2d;
    letter-spacing: 0px;
    font-weight: bold;
    padding-right: 10px; }
  .breadcrumb .number-product {
    color: #c486a6; }
  .breadcrumb .page-number-product {
    color: #cccccc;
    text-decoration: underline; }
  .breadcrumb .page-number-product-active {
    color: #c486a6;
    text-decoration: underline; }

.breadcrumb-item + .breadcrumb-item::before {
  content: ""; }

.breadcrumb-item + .breadcrumb-item::before {
  content: ""; }

.padding-bottom-product {
  padding-bottom: 30px;
  margin-bottom: 30px;
  transition: .1s ease; }

.padding-bottom-product:hover {
  box-shadow: 0px 0px 16px #cccccc; }

.overlay {
  position: relative;
  width: 100%;
  transition: .1s ease; }

.overlay-margin-top {
  margin-top: 30px; }

.overlay-margin-top-plus {
  margin-top: 30px; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .1s ease;
  backface-visibility: hidden; }

.middle-title h2,
.middle-title-2 h2 {
  font-size: 32px;
  color: #ffffff !important; }

.text-shadow {
  text-shadow: 0px 0px 16px #000000; }

.middle-title,
.middle-title-2 {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: .2s ease; }

.overlay:hover .middle-title-2 {
  top: 35%;
  left: 50%; }

.overlay:hover .middle-title {
  top: 45%;
  left: 50%; }

.middle, .middle-2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.overlay:hover {
  background: black; }

.overlay:hover .image {
  opacity: 0.3; }

.overlay:hover .middle {
  opacity: 1; }

.overlay:hover .middle-2 {
  opacity: 1; }

@media (min-width: 768px) {
  .overlay-margin-top-minus {
    margin-top: -115px; }

  .middle-title h2,
  .middle-title-2 h2 {
    font-size: 24px; } }
@media (min-width: 992px) {
  .overlay-margin-top-minus {
    margin-top: -170px; }

  .middle-title h2,
  .middle-title-2 h2 {
    font-size: 40px; } }
@media (min-width: 1200px) {
  .overlay-margin-top-minus {
    margin-top: -210px; } }
.logotype {
  padding-top: 60px;
  padding-bottom: 60px; }

.container-bg-image {
  padding: 20px; }

.margin-to-up {
  margin-top: -50px; }

.bg-image {
  background: url("../img/madeinspain.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px; }

.image-made {
  display: block;
  margin-bottom: 50px; }

.image-shadow {
  box-shadow: 0px 0px 16px #2d2d2d; }

.title-spain {
  font-size: 30px;
  padding-bottom: 10px; }

.subtitle-spain {
  padding-bottom: 10px;
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px; }

@media (min-width: 768px) {
  .container-bg-image {
    padding: 20px 50px; }

  .margin-to-up {
    margin-top: -100px; }

  .bg-image {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px; }

  .image-made {
    display: block;
    margin-bottom: 50px; } }
@media (min-width: 992px) {
  .container-bg-image {
    padding: 20px 50px; }

  .margin-to-up {
    margin-top: -100px; }

  .bg-image {
    height: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 50px; } }
@media (min-width: 1200px) {
  .container-bg-image {
    padding: 20px 50px; }

  .bg-image {
    padding: 100px 100px; }

  .margin-to-up {
    margin-top: -150px; }

  .bg-image {
    padding: 100px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px; } }
.modulos {
  margin-top: 50px;
  margin-bottom: 50px; }

.modulo-container {
  margin-bottom: 30px; }

.container-row-images {
  padding: 20px 50px; }

@media (min-width: 768px) {
  .modulos {
    margin-top: 50px; }

  .modulo-container {
    margin-bottom: 30px; } }
@media (min-width: 992px) {
  .modulos {
    margin-top: 75px; } }
@media (min-width: 1200px) {
  .modulos {
    margin-top: 100px; } }
.bg-nosotros-image {
  background: url("../img/bg-nosotros-image.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 0px; }

@media (min-width: 992px) {
  .bg-nosotros-image {
    height: 570px;
    margin-bottom: 60px; } }
.detalle-image {
  border: 1px solid #cccccc; }

.maggin-bottom_galeria {
  margin-bottom: 15px; }

.btn-zoom {
  float: right;
  font-size: 24px;
  margin-top: -50px;
  z-index: 1000;
  position: relative; }

.producto-text {
  font-size: 14px !important;
  padding-right: 10px;
  padding-left: 30px !important; }

.producto-color {
  padding-left: 8px; }

[type="radio"]:checked + label:after {
  border-color: #2d2d2d;
  background-color: #b09a6a; }

.circle {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 20px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: 2px solid;
  border-color: #2d2d2d;
  background-color: none; }

.circle-gold {
  background-color: yellow; }

.circle-brown {
  background-color: brown; }

.circle-red {
  background-color: red; }

.circle-blue {
  background-color: darkblue; }

@media (min-width: 992px) {
  .btn-zoom {
    float: right;
    font-size: 36px; } }
.map {
  height: 700px;
  margin-bottom: 100px; }

.dropdown-toggle-map {
  padding: 20px 0px;
  background-color: #ffffff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #2d2d2d !important; }

.dropdown-toggle-map:hover {
  color: #2d2d2d;
  background-color: #ffffff;
  border-bottom: 2px solid #b09a6a !important; }

.dropdown-toggle-map,
.dropdown-item-map {
  display: block;
  color: #2d2d2d;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 400 !important;
  font-size: 16px;
  text-transform: inherit;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  border-top: 0; }

.dropdown-toggle-map:focus {
  background-color: #ffffff; }

.dropdown-item-map:hover {
  border-top: 0;
  color: #b09a6a !important;
  font-weight: 600 !important; }

.dropdown-margin-bottom {
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .dropdown-margin-bottom {
    margin-bottom: 0px; } }
footer {
  padding: 40px 0;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  height: auto; }

.footer-link,
.footer-link-light,
.footer-text,
.footer-text-light,
.span-text-light {
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  font-size: 9px;
  line-height: 24px;
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left; }

.span-text {
  padding-right: 20px; }

.footer-link-light,
.footer-text-light,
.span-text-light {
  font-weight: 400 !important;
  color: #777777; }

.icon-social {
  color: #777777;
  padding-right: 10px; }

.footer-link:hover,
.footer-link-light:hover,
.icon-social:hover,
.span-text:hover {
  color: #cccccc; }

.copy {
  padding: 20px 0;
  background-color: #eeeeee;
  height: auto; }

.footer-padding-bottom {
  padding-bottom: 20px; }

@media (min-width: 1200px) {
  .footer-link,
  .footer-link-light,
  .footer-text,
  .footer-text-light,
  .span-text-light {
    font-size: 11px; } }
