.detalle-image {
  border: 1px solid $third;
}

.maggin-bottom_galeria {
  margin-bottom: 15px;
}

.btn-zoom {
  float: right;
  font-size: 24px;
  margin-top: -50px;
  z-index: 1000;
  position: relative;
}

.producto-text {
  font-size: 14px !important;
  padding-right: 10px;
  padding-left: 30px !important;
}

.producto-color{
  padding-left: 8px;
}

[type="radio"]:checked+label:after {
  border-color: $primary;
  background-color: $gold;
}

.circle {
  display: inline-block;
  margin-right: 8px;
margin-bottom: 20px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: 2px solid;
  border-color: $primary;
  background-color: none;
}
.circle-gold{
    background-color: yellow;
}

.circle-brown{
    background-color: brown;
}

.circle-red{
    background-color: red;
}

.circle-blue{
    background-color: darkblue;
}



@media (min-width: 992px) {

  .btn-zoom {
    float: right;
    font-size: 36px;
  }


}
