// Variables

// Brand colors
$primary:         #2d2d2d;
$secondary:       #777777;
$third:           #cccccc;
$gray:            #eeeeee;
$light-gray:      #f6f6f6;


$pink:            #aa6489;
$gold:            #b09a6a;
$blue:            #009fb0;
$silver:          #707473;
$red:             #b5110a;
$brown:           #a06942;



$white:            #ffffff;
